.footer {
    // global styles
    background-color: var(--main-color);

    & * {
        color: #fff;
    }

    &__container {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        max-width: 1390px;
        margin: 0 auto;
        padding: 0 21px;
        @include adaptiv-value('padding-top', 58, 24);
        @include adaptiv-value('padding-bottom', 58, 24);
    }


    // contacts' styles
    &__title {
        @include adaptiv-value('margin-right', 210, 20);
        font-family: 'Geometria', Arial, sans-serif;
        font-weight: 500;
        @include adaptiv-value('font-size', 24, 10);
    }
    &__contact {
        font-family: 'KyivType Sans', Arial, sans-serif;
        font-weight: 500;
        @include adaptiv-value('font-size', 18, 6);

        &:not(:last-child) {
            @include adaptiv-value('margin-right', 34, 11);
        }

        &s * {
            display: inline-block;
        }
    }


    // to-top element's styles
    &__to-top {
        font-family: 'Geometria', Arial, sans-serif;
        font-weight: 500;
        @include adaptiv-value('font-size', 18, 8);
        display: flex;
        align-items: center;
    }
    &__arrow-icon {
        @include adaptiv-value('margin-left', 25, 5);
        display: inline-flex;
        transition: transform .2s ease;

        & svg {
            @include adaptiv-value('height', 22, 15);
        }
    }
    &__to-top:hover &__arrow-icon {
        transform: translateY(-30%);
    }
}