.header {
    // global styles
    background-color: var(--main-color);
    position: sticky;
    top: 0;
    z-index: 3;
    width: 100%;
    margin-bottom: 115px;

    &__container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        max-width: 1390px;
        width: 100%;
        margin: 0 auto;
        padding: 0 21px;
        @include adaptiv-value('padding-top', 31, 20);
        @include adaptiv-value('padding-bottom', 35, 21);
        position: relative;
    }
    & * {
        color: #fff;
    }


    &__nav {
        display: flex;
        flex-direction: row;
        align-items: center;

        &-item {
            font-family: 'KyivType Sans', Arial, sans-serif;
            font-weight: 500;
            @include adaptiv-value('font-size', 18, 8); 

            &:not(:last-child) {
                @include adaptiv-value('margin-right', 75, 35);
            }

            &._anim-item {
                position: relative;
                top: -20px;
                opacity: 0;
                transition: top .2s ease,
                            opacity .2s ease;
            }
            &._anim-active {
                top: 0;
                opacity: 1;
            }

            &_logo {
                transition-delay: .1s !important;
            }
        }
    }
    &__logo {
        font-weight: 900;
        @include adaptiv-value('font-size', 24, 16);
        position: relative;
        padding-right: 8px;

        &::after {
            content: '';
            position: absolute;
            width: 5px;
            height: 5px;
            top: 8px;
            right: 0;
            border-radius: 1rem;
            background-color: #fff;
        }
    }
    &__dropdown {
        display: inline-flex;
        flex-direction: column;
        position: absolute;
        right: 21px;
        top: 50%;
        transform: translateY(-40%);
        background-color: var(--main-color);
        padding-bottom: 5px;
        width: fit-content;

        &-item {
            font-family: Geometria, Arial, sans-serif;
            padding: 7.5px 20px 7.5px 13px;
            @include adaptiv-value('font-size', 18, 8);
            display: none;

            &:not(&_active):hover {
                background-color: var(--dropdown-hover-background-color);
            }

            &_active {
                position: static;
                display: flex;
                align-items: flex-end;
                order: -1;
                padding-top: 0;
            }
        }
        &_active {
            transform: translateY(-14px);
        }
        &_active &-item {
            display: flex;
        }

        &-item_active &-icon {
            display: inline-flex;
        }
        &-icon {
            fill: #fff;
            margin-left: 9px;
            display: none;

            & svg {
                @include adaptiv-value('height', 20, 15);
            }
        }
    }


    &__menu {
        &-icon {
            display: none;
            height: 100%;
            width: 16px;
            text-align: right;
            flex-direction: column;
            align-items: flex-end;
        }
        &-item {
            border-radius: 1rem;
            height: 2.22px;
            margin-top: 5px;
            background-color: #fff;

            &:nth-child(1) {
                width: 7px;
            }
            &:nth-child(2) {
                width: 16px;
            }
            &:nth-child(3) {
                width: 13px;
            }
        }
        &-close {
            display: none;

            & svg {
                height: 16px;
            }
        }
    }

    @media screen and (max-width: 700px) {
        &__container {
            justify-content: space-between;
        }

        &__nav-item:not(&__nav-item_logo),
        &__dropdown {
            display: none;
        }
        &__nav-item_logo {
            order: -1;
        }

        &__nav {
            flex-direction: column;
            align-items: flex-start;
        }

        &__menu-icon {
            display: flex;
        }


        &_active {
            height: 100%;
            width: 100%;
            overflow-y: scroll;
            position: fixed;
        }
        &_active &__nav-item_logo {
            margin-bottom: 120px;
        }
        &_active &__nav-item:not(&__nav-item_logo) {
            display: block;
            font-size: 42px;
            margin-bottom: 45px;
        }

        &_active &__dropdown {
            display: flex;
            position: static;
            transform: none;
            flex-direction: row;

            & * {
                font-size: 20px;
            }
            &-item {
                padding-left: 0;
                padding-top: 0;
            }
            &-icon svg {
                height: 23px;
            }
        }
    }
}